html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

header {
    height: 10%;
    position: relative;
    background: #3B7520;
    color: white;
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

footer {
    height: 10%;
    position: relative;
    background: #3B7520;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

header h1 {
    position: Absolute;
    display:inline-block;
    left: 2%;
    width: 35%;
}

header img {
    position: relative;
    display: inline-block;
    left: 85%;
}

#contenedorPrincipal {
    height: 70%;
    width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

#contenedorPrincipal section {
    flex-basis: 85%;
    background:#3B7520;
    color: white;
    padding-top:40px;
	text-align: center;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
}

#contenedorPrincipal nav {
    flex-basis: 15%;
    background:#3B7520;
	color: white;
    padding-top:40px;
	text-align: center;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}
