html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

header {
    height: 14%;
    position: relative;
    background: #3B7520;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

footer {
    font-family: 'Karma';
    height: 10%;
    position: relative;
    background: #3B7520;
	color: white;
	text-align: center;
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
	margin-top: 10px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

header h1 {
    font-family: 'Jacques Francois';
    position: Absolute;
    display:inline-block;
    left: 2%;
    width: 35%;
}

header img {
    position: relative;
    display: inline-block;
    left: 85%;
}

#contenedorPrincipal {
    height: auto;
    width: auto;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

#contenedorPrincipal section {
    flex-basis: 85%;
    background:#3B7520;
    color: white;
    padding-top:10px;
	text-align: center;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
}

#contenedorPrincipal section h4{
    font-family: 'Jacques Francois';
}

#contenedorPrincipal section h2{
    font-family: 'Jacques Francois';
}

#contenedorPrincipal section p{
    font-family: 'Karma';
}


#contenedorPrincipal nav {
    font-family: 'Jacques Francois';
    flex-basis: 15%;
    background:#3B7520;
	color: white;
    padding-top:40px;
	text-align: center;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

#contenedorPrincipal nav a{
    color: white;
}
