/*El contenedor principal de reserva tendrá una altura y anchura definida, no puede ser auto debido a que al principio tiene un tamaño menor*/
/*En caso de que aumente el tamaño del section se usará un scroll*/
#contenedorPrincipal {
    height: 80%;
    width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-content: space-between;
    overflow-y:scroll;
}

/*Contenido del sectionse muestra a la izquieda*/

#contenedorPrincipal section {
    flex-basis: 85%;
    background:#3B7520;
    color: white;
    padding-top: 1px;
	text-align: left;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
    padding-left: 20px;
}

/*Diseño de los radio button para elegir hora*/

.horas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.hora{
    width: auto;
    appearance: none;
    height: 30px;
    width: 100px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(238, 179, 51, 0.916) 0.1%, rgb(236, 160, 38) 99.8%);
    background-size: 360% 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

.hora_celeb{
    text-align: center;
    width: auto;
    appearance: none;
    height: 40px;
    width: 125px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(238, 179, 51, 0.916) 0.1%, rgb(236, 160, 38) 99.8%);
    background-size: 360% 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

/*En un principio no se muestran los div con los siguientes id, dependiendo de que se haya elegido se mostrará  usando javascript*/

#pers_salas_mesa{
    display: none;
}

#pers_salas_celeb{
    display: none;
}

#fecha_hora_salas{
    display: none;
}

#fecha_hora_celeb{
    display: none;
}

#boton_aceptar{
    display: none;
}

/*Diseño imagenes*/
#img_mesa1{
    display: none;
}

#img_mesa2{
    display: none;
}

#img_mesa3{
    display: none;
}

#imagenesMesa{
    position: relative;
    left: 60%;
    top: -30px;
    display: none;
    width: 120px;
    height: 120px;
}

#img_celebraciones1{
    display:none;
}

#img_celebraciones2{
    display:none;
}

#img_celebraciones3{
    display:none;
}

#imagenesCeleb{
    position: relative;
    left: 60%;
    top: -30px;
    display: none;
    padding-top: 5px;
    width: 120px;
    height: 120px;
    padding-left: 5px;
}

@media screen and (max-width: 700px) {
    #imagenesMesa{
        top: 10px;
        left: 30%;
    }
    #imagenesMesa img{
        width: 100px;
        height: 100px;
    }
    #imagenesCeleb {
       top: 10px;
       left: 30%;
    }
    #imagenesCeleb img{
        width: 100px;
        height: 100px;
    }
}



