#contenedorPrincipal {
    height: 80%;
    width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-content: space-between;
    overflow-y:scroll;
}

#contenedorPrincipal section {
    flex-basis: 85%;
    background:#3B7520;
    color: white;
    padding-top: 1px;
	text-align: left;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
    padding-left: 20px;
}

#pers_salas_mesa{
    display: none;
}

#pers_salas_celeb{
    display: none;
}

#fecha_hora_salas{
    display: none;
}

#fecha_hora_celeb{
    display: none;
}

#boton_aceptar{
    display: none;
}

#horas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

#hora{
    width: auto;
    appearance: none;
    height: 30px;
    width: 100px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(238, 179, 51, 0.916) 0.1%, rgb(236, 160, 38) 99.8%);
    background-size: 360% 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

#hora_celeb{
    text-align: center;
    width: auto;
    appearance: none;
    height: 40px;
    width: 125px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(238, 179, 51, 0.916) 0.1%, rgb(236, 160, 38) 99.8%);
    background-size: 360% 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}


