#contenedorPrincipal {
    height: 80%;
    width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

#contenedorPrincipal section {
    flex-basis: 85%;
    background:#3B7520;
    color: white;
    padding-top: 1px;
	text-align: left;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 5px;
    padding-left: 20px;
}

#pers_salas_mesa{
    display: none;
}

#pers_salas_celeb{
    display: none;
}

#fecha_hora_salas{
    display: none;
}

#fecha_hora_celeb{
    display: none;
}

#boton_aceptar{
    display: none;
}

